<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Jeopardy", root_path, class: "navbar-brand" %>
    </div>
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </ul>
  </div>
</div>
