<div class="jumbotron text-center">
  <h1 class="text-center">This Is Jeopardy!</h1>
  <p class="text-center">Create your very own Jeopardy game to play with your class!</p>
  <%= link_to "Log In", "#", class: "btn btn-default" %>
  <%= link_to "Register", "#", class: "btn btn-default" %>
</div>
