<div class="jumbotron text-center">
  <h1 class="text-center">This Is Jeopardy!</h1>
  <p class="text-center">Create your very own Jeopardy game to play with your class!</p>
  <div id="user-widget">
    <% if current_user %>
      Welcome <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>
</div>
